#AboutMe {
    text-align: center;
}

#entire-page {
    position: relative;
    min-height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 3.1rem;
    width: 100%;
}

#img {
    height: auto;
    width: 40%;
    padding: 6px;
}

#img:hover {
    rotate: -10deg;
    width: 50%;
}

#page-wrapper {
    padding-bottom: 3.5rem;
}

.hoverShow {
    background-color: lavender;
    display: none;
}

.download:hover + .hoverShow {
    display: block;
}

.project {
    border: solid black 1px;
    border-radius: 0%;
    padding: 2% 0 2% 0;
}